# ============
# App Config
# ============
SPRING_APPLICATION_NAME=cloudinsight-user-service
SERVER_PORT={port:3000}

# ============
# Database Config
# ============
DB_URL= {postgres db_url}
DB_USERNAME= {postgres db_username}
DB_PASSWORD= {postgres db_password}
DB_DRIVER_CLASS_NAME= {postgres db_driver_class_name}

# ============
# Spring Cloud Config / Eureka
# ============
SPRING_CLOUD_CONFIG_URI={spring cloud config uri}
SPRING_CONFIG_IMPORT=configserver:{spring config import}
SPRING_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE={eureka server url}

# ============
# Hibernate
# ============
DB_HIBERNATE_DDL_AUTO=update
DB_SHOW_SQL=true
DB_HIBERNATE_FORMAT_SQL=true

# ============
# Auth0
# ============
AUTH0_CLIENT_ID={client-id}
AUTH0_CLIENT_SECRET={client-secret}
AUTH0_REDIRECT_URI={redirect-uri}
AUTH0_ISSUER_URI={oath0-issue-uri}

FRONTEND_URL={}